*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color:#f7f6f2;
}

.navbar{
    height: 80px;
    width: 100%;
    background-color:#5921b2 ;
}

.navbar:hover{
    box-shadow: 0.5px 1px 10px black;
}

.navtitle{
    margin-top: 0;
    padding:15px;
    font-size: 40px;
    color:#f2f2f2 ;
    font-family: fantasy;
    float: left;
}

.navbar:hover .navtitle{
    text-shadow: 0.5px 1px 15px black;
}

.navlink{
    float: right;
    margin: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    color: cornflowerblue;
    font-family: 'Oswald', sans-serif;
    
}

.navbar:hover .navlink{
    color: darkkhaki;
}

.navlink:hover{
    background-color: darkslateblue;
}

.welcome{
    font-size: 90px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #5b5b5b;
    margin-bottom: 2px;
}

.my{
    text-align: center;
    margin-top: 0px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    color: #2f5614;
}

.logo{
    height: 350px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border:3px solid #5b5b5b;
}

.footer{
    float: bottom;
    height: 100px;
    width: 100%;
    background-color: #5921b2;
    margin-top: 90px;
}

.booter-txt{
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.booter-txt>a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    margin-top: 5px;
    color: white;
}

.footer:hover .booter-txt>a{
color: violet;
}

@media screen and (max-width:600px){
    .navtitle{
        font-size: 20px;
        margin-top: 7px;
        font-family: 'Oswald', sans-serif;
    }

    .navlink{
        font-size:15px;
        margin-top: 30px;
        margin-left: 5px;
    }

    .welcome{
        font-size: 43px;
    }

    .my{
        font-size: 20px;
    }

    .footer{
        margin-top: 190px;
    }

    .booter-txt{
            font-size: 25px;
            padding: 20px;
    }

}
